
<div class="flex flex-column w-10">
  <img src="../../../../assets/img/ballot box.png" class="w-full h-full" style="object-fit: fill;"/>
</div>

<!-- login container -->
<div class="flex flex-column overflow-hidden align-items-center min-w-min surface-200 w-2 px-3">

  <img src="../../../../assets/img/vote.jpg" class="h-20rem w-25rem my-2" style="object-fit: fill;" />

  <h2>ADMIN</h2>

  <form [formGroup]="fg" class="flex flex-column gap-2">

    <div class="flex flex-column gap-2">
      <label for="username">Username</label>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-user" />
        <input id="username" pInputText type="text" formControlName="username" class="outline-none" />
      </p-iconField>
    </div>

    <div class="flex flex-column gap-2">
      <label for="password">Password</label>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-key" />
        <input id="password" pInputText type="password" formControlName="password"/>
      </p-iconField>
    </div>

    <div class="flex flex-column mt-3">
      <button pButton type="button" class="flex flex-grow-1 w-full" label="Login" (click)="login();"></button>
    </div>

  </form>

</div>
