<div class="card">
  <div class="title-bar">
    <h3 class="title">Parties</h3>
    <div class="title-bar-menu">
        <p-button label="Add" (onClick)="partyEntry()"/>
    </div>
  </div>

  <br />
  <br />

  <p-table
      [columns]="cols"
      [value]="parties ?? []"
      [rowsPerPageOptions]="[10, 20]"
      [loading]="isLoading"
      [rowHover]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Party List
            <p-button icon="pi pi-refresh"/>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                @for (col of columns; track $index) {
                  <td>
                    @switch (col.field) {
                      @case ('id') {
                      }
                      @case ('status') {
                        <p-tag [value]="rowData[col.field]" />
                      }
                      @default {
                        {{ rowData[col.field] }}
                      }
                    }
                  </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>
