@if (isLoading) {
  <div class="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <span>Please wait...</span>
  </div>
}
@else {
  <p-scrollPanel class="flex flex-column gap-1" [formGroup]="rf">
    <h4>Elective Position Info.</h4>

    <div class="flex flex-column gap-2">
      <label for="election-schedule">Election Schedule</label>
      <p-dropdown id="election-schedule"
        appendTo="body"
        optionLabel="name"
        [options]="electionSchedules!"
        [loading]="electionSchedules == null"
        [style]="{ width: '100%' }"
        formControlName="election_schedule" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="position">Position</label>
      <p-dropdown id="position"
        appendTo="body"
        optionLabel="name"
        [loading]="positions == null"
        [options]="positions!"
        [style]="{ width: '100%' }"
        formControlName="position" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="code">Seat</label>
      <input id="code"
        pInputText type="number"
        class="outline-none"
        formControlName="seat" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="remarks">Remarks</label>
      <textarea
        id="remarks"
        pInputTextarea
        rows="3"
        formControlName="remarks"></textarea>
    </div>

  </p-scrollPanel>

  <div class="flex justify-content-start">
    <button
      pButton
      pRipple
      [loading]="isSaving"
      label="Save"
      (click)="electionPositionSave()">
    </button>
  </div>
}
