@if (isLoading) {
  <div class="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <span>Please wait...</span>
  </div>
}
@else {
  <p-scrollPanel class="flex flex-column gap-1" [formGroup]="rf">
    <h4>Voter Leader Info.</h4>

    <div class="flex flex-column gap-2">
      <label for="code">Code</label>
      <input id="code"
        pInputText type="text"
        class="outline-none"
        formControlName="code" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="name">Description</label>
      <input id="name"
        pInputText type="text"
        class="outline-none"
        formControlName="description" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="status">Status</label>
      <p-dropdown id="status"
        appendTo="body"
        [options]="VOTER_INFLUENCE_STATUS"
        [style]="{ width: '100%' }"
        formControlName="status" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="voter-base">Voter Leader Sub</label>
      <p-dropdown id="voter-base"
        appendTo="body"
        optionLabel="description"
        [options]="voterleaders"
        [style]="{ width: '100%' }"
        formControlName="voter_leader_sub" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="voter-base">Remarks</label>
      <textarea
        pInputTextarea
        formControlName="remarks"
        [style]="{ 'width': '100%' }">
      </textarea>
    </div>

  </p-scrollPanel>

  <div class="flex justify-content-start">
    <button
      pButton
      pRipple
      [loading]="isSaving"
      label="Save"
      (click)="voterLeaderSave()">
    </button>
  </div>
}
