<div class="layout-topbar flex align-items-center">

  <p-button icon="pi pi-bars" size="large" [rounded]="true" [text]="true">
  </p-button>

  <!-- <button class="p-link layout-menu-button layout-topbar-button">
    <i class="pi pi-bars"></i>
  </button> -->

  <div class="layout-topbar-menu">

    <p-button icon="pi pi-calendar" size="large" [rounded]="true" [text]="true">
    </p-button>

    <p-button icon="pi pi-envelope" size="large" [rounded]="true" [text]="true">
    </p-button>

    <p-button icon="pi pi-bell" size="large" [rounded]="true" [text]="true">
    </p-button>

    <p-button icon="pi pi-user" size="large" [rounded]="true" [text]="true">
    </p-button>

    <!-- <button pButton class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button> -->

  </div>

</div>
