<p-confirmDialog />
<p-toast />
<div class="card">
  <div class="title-bar">
    <h3 class="title">Campaigns</h3>
    <div class="title-bar-menu">
        <p-button label="Add"/>
    </div>
  </div>

  <br />

  <p-tabMenu [model]="tabMenuItems">
    <ng-template pTemplate="item" let-item>
      <a [routerLink]="item.routerLink" class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">
          {{ item.label }}
        </span>
      </a>
    </ng-template>
  </p-tabMenu>
  <div class="flex flex-1">
    <router-outlet></router-outlet>
  </div>
</div>

