:host {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 17.5rem);
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.layout-news-active :host ::ng-deep .p-datatable tr > th {
  top: 0;
}
