<div class="card">

  <div class="flex flex-row justify-content-between">
    <h3 class="title">{{title}}</h3>

    <div [formGroup]="rf">

      <p-radioButton
        name="result"
        value="survey"
        inputId="surveyResult"
        formControlName="result" />
      <label for="surveyResult" class="ml-1 mr-3">Survey Result</label>

      <p-radioButton
        name="result"
        value="election"
        inputId="electionResult"
        formControlName="result" />
      <label for="electionResult" class="ml-1">Election Result</label>
    </div>
  </div>

  <br />

  <div class="flex justify-content-between">

    <div
      class="flex gap-2 mb-2"
      [formGroup]="rf" >
      <p-dropdown
        [options]="barangayData!"
        optionLabel="name"
        [loading]="barangayData == null"
        formControlName="barangay"
        placeholder="Select a barangay"
      />

      <p-dropdown
        [options]="purokData!"
        optionLabel="name"
        [loading]="purokData == null"
        formControlName="purok"
        placeholder="Select a purok"
      />

      <p-dropdown

        formControlName="position"
        placeholder="Select a position"
      />

      <p-dropdown

        formControlName="precinct"
        placeholder="Select a precinct"
      />
    </div>

    <p-button
      pRipple
      label="Entry"
      [text]="true"
      [raised]="true"
      icon="pi pi-plus" />

  </div>

  <p-tabMenu
    [model]="menuItems" />

  <div class="flex flex-column">
    <router-outlet></router-outlet>
  </div>

</div>
