<div class="card">

  <div class="flex flex-row justify-content-between">
    <h3 class="title">{{title}}</h3>

    <div [formGroup]="rf">

      <p-radioButton
        name="result"
        value="survey"
        inputId="surveyResult"
        formControlName="result" />
      <label for="surveyResult" class="ml-1 mr-3">Survey Result</label>

      <p-radioButton
        name="result"
        value="election"
        inputId="electionResult"
        formControlName="result" />
      <label for="electionResult" class="ml-1">Election Result</label>
    </div>
  </div>

  <br />

  <p-tabMenu
    [(activeItem)]="activeMenu"
    [model]="menuItems" />

  <div class="flex flex-1">
    <router-outlet></router-outlet>
  </div>

</div>
