<p-scrollPanel class="flex flex-column gap-1 flex-auto">
  <h4>Campaign Info.</h4>

  <div class="flex flex-column gap-2">
    <label for="firstname">What</label>
    <textarea pInputTextarea rows="3"></textarea>
  </div>

  <div class="flex flex-auto flex-column gap-2">
    <label for="when">When</label>
    <p-calendar id="when" appendTo="body" [showIcon]="true" [showTime]="true" hourFormat="12" class="outline-none" [inputStyle]="{ width: '100%'}" />
  </div>

  <div class="flex flex-column gap-2">
    <label for="firstname">Where</label>
    <textarea pInputTextarea rows="3"></textarea>
  </div>

  <div class="flex flex-column gap-2">
    <label for="firstname">Remarks</label>
    <textarea pInputTextarea rows="5"></textarea>
  </div>

  <div class="flex flex-auto flex-column gap-2">
      <label for="gender">Status</label>
      <p-dropdown appendTo="body" [options]="status" [style]="{ width: '100%' }"/>
  </div>
</p-scrollPanel>

<div class="flex justify-content-start gap-2">
  <button
    pButton
    pRipple
    [loading]="isLoading"
    label="Save"
    (click)="campaignSave()">
  </button>
</div>
