<!-- <div>Voters Works!</div> -->

<div class="card">

    <div class="title-bar">
        <h3 class="title">Voters</h3>
        <div class="title-bar-menu">
            <p-button label="Add" (onClick)="addVoterSidebarVisible = true"/>
        </div>
    </div>

    <p-table [columns]="cols"
      [value]="voters"
      [rowsPerPageOptions]="[10, 20]"
      [loading]="isLoading"
      [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Voters List
            <p-button icon="pi pi-refresh"/>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-sidebar [(visible)]="addVoterSidebarVisible" position="right" styleClass="w-30rem">
        <ng-template pTemplate="header">
            <h3 class="m-0">New Voter</h3>
        </ng-template>

        <p-scrollPanel class="flex flex-column gap-1" [formGroup]="rf" [style]="{ width: '100%', height: '100%' }">

          <h4>Person Profile Info.</h4>

          <div class="flex flex-column gap-2">
              <label for="firstname">Firstname</label>
              <input id="firstname" pInputText type="text" formControlName="firstname" class="outline-none" />
          </div>
          <div class="flex flex-column gap-2">
              <label for="middlename">Middlename</label>
              <input id="middlename" pInputText type="text" formControlName="middlename" class="outline-none" />
          </div>
          <div class="flex flex-column gap-2">
              <label for="lastname">Lastname</label>
              <input id="lastname" pInputText type="text" formControlName="lastname" class="outline-none" />
          </div>

          <div class="flex flex-row gap-1">
            <div class="flex flex-auto flex-column gap-2">
              <label for="dateofbirth">Date of Birth</label>
              <p-calendar [showIcon]="true" class="outline-none" [inputStyle]="{ width: '100%'}" />
            </div>
              <div class="flex flex-auto flex-column gap-2">
                  <label for="gender">Gender</label>
                  <p-dropdown [options]="genders" optionLabel="name" [style]="{ width: '100%' }"/>
              </div>

          </div>

          <br/>

          <div class="flex flex-column gap-2">
              <label for="address">Address</label>
              <input id="address" pInputText type="text" class="outline-none" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="longitude">Longitude</label>
            <input id="longitude" pInputText type="text" class="outline-none" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="latitude">Latitude</label>
            <input id="latitude" pInputText type="text" class="outline-none" />
          </div>

          <h4>Comelec Voter Info.</h4>

          <div class="flex flex-column gap-2">
            <label for="precinctno">Precinct No.</label>
            <input id="precinctno" pInputText type="text" class="outline-none" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="vinno">Vin No.</label>
            <input id="vinno" pInputText type="text" class="outline-none" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="votergroup">Group</label>
            <input id="votergroup" pInputText type="text" class="outline-none" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="votertype">Type</label>
            <!-- <input id="votertype" pInputText type="text" class="outline-none" /> -->
            <p-dropdown id="votertype" [options]="genders" optionLabel="name" [style]="{ width: '100%' }"/>
          </div>

          <div class="flex flex-column gap-2">
            <label for="voterstatus">Status</label>
            <input id="voterstatus" pInputText type="text" class="outline-none" />
          </div>

        </p-scrollPanel>


        <ng-template pTemplate="footer">
          <p-button label="submit" (onClick)="submit();"/>
        </ng-template>

    </p-sidebar>

</div>
