/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/md-light-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./assets/styles/layout/layout.scss";

html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
}


